.btn {
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  border: 0px;
  background-color: transparent;
  border: 2px solid var(--light-cyan);
  color: var(--default-text-color);
}

@media screen and (max-width: 480px) {
  .btn {
    padding: 15px 30px;
    border-radius: 30px;
  }
}
