#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.name {
  width: 100%;
  padding-top: 40px;
  font-size: 10rem;
  font-weight: bold;
  color: var(--default-text-color);
}

.hi {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.profession {
  font-size: 4rem;
  color: #36363a;
  text-shadow: 1px 2px 2px var(--default-text-color);
}

#intro img {
  width: 300px;
  height: 300px;
  display: none;
  border-radius: 150px;
  box-shadow: 2.5px 2.5px 10px var(--light-blue);
}

@media only screen and (max-width: 992px) {
  .name {
    font-size: 7rem;
  }
  .profession {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .name {
    font-size: 5rem;
  }
  .profession {
    font-size: 3rem;
    text-shadow: 0.5px 1px 1px var(--default-text-color);
  }
}

@media only screen and (max-width: 480px) {
  #intro {
    justify-content: space-evenly;
    flex-direction: column;
  }
  #intro img {
    display: block;
  }
  .name {
    font-size: 3.5rem;
  }
  .profession {
    font-size: 1.8rem;
    text-shadow: 0.5px 1px 1px var(--default-text-color);
  }
}

@media screen and (max-width: 360px) {
  .name {
    font-size: 3rem;
  }
  .profession {
    font-size: 1.5rem;
  }
}
