#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.name {
  width: 100%;
  padding-top: 40px;
  font-size: 10rem;
  font-weight: bold;
  color: var(--default-text-color);
}

.hi {
  font-family: "Fira Code", Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.profession {
  font-size: 4rem;
  color: var(--light-cyan);
}

#intro img {
  width: 200px;
  height: 200px;
  display: none;
  border-radius: 150px;
  box-shadow: 1px 1px 15px var(--light-cyan);
  -webkit-box-shadow: 1px 1px 15px var(--light-cyan);
  -moz-box-shadow: 1px 1px 15px var(--light-cyan);
}

.resume {
  margin-top: 40px;
}

.resume-btn {
  transition: all 0.2s ease-in;
}

.resume-btn:hover {
  background-color: transparent;
  transition: all 0.2s ease-in;
  border: 2px solid var(--bg-color);
  background-color: var(--light-cyan);
  color: var(--bg-color);
}

@media only screen and (max-width: 992px) {
  .name {
    font-size: 7rem;
  }
  .profession {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  #intro {
    justify-content: space-evenly;
    flex-direction: column;
  }
  .name {
    font-size: 5rem;
  }
  .profession {
    font-size: 3rem;
  }
  #intro img {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .name {
    font-size: 3.5rem;
  }
  .profession {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 360px) {
  .name {
    font-size: 3rem;
  }
  .profession {
    font-size: 1.5rem;
  }
}
