#about-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  width: 100%;
}

#about .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#about img {
  display: none;
  width: 200px;
  height: 200px;
  display: none;
  border-radius: 150px;
  box-shadow: 2.5px 2.5px 10px var(--light-cyan);
  -webkit-box-shadow: 2.5px 2.5px 10px var(--light-cyan);
  -moz-box-shadow: 2.5px 2.5px 10px var(--light-cyan);
}

@media screen and (min-width: 768px) {
  #about img {
    display: block;
  }
  #about-section .about-text {
    max-width: 400px;
  }
  #about .section-content p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 992px) {
  #about-section .about-text {
    max-width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  #about-section .about-text {
    max-width: 600px;
  }

  #about img {
    width: 300px;
    height: 300px;
  }
}
