.skill-label {
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--light-cyan);
  cursor: pointer;
  transition: all 0.2s ease-in;
  box-shadow: 1px 1px 1px var(--secondary-color) 0 3px;
  z-index: 1;
}

.skill-label:hover {
  background-color: var(--light-cyan);
  color: var(--bg-color);
  transition: all 0.2s ease-in;
}

.skill-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}

.skill-content img {
  height: 25px;
  width: 25px;
  margin-right: 20px;
}

.skill-content > p {
  font-size: 1.2rem;
}
