* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}

:root {
  --bg-color: #252529;
  --default-text-color: #f0f3ff;
  --humburger-bubble: #2e334d;
  --light-cyan: #66a3b8;
  --secondary-color: #36363a;
}

body {
  background-color: var(--bg-color);
  color: var(--default-text-color);
  margin: 0px 50px;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 15px;
  }
}
