* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}

:root {
  --bg-color: #4a5175;
  --default-text-color: #f0f3ff;
  --humburger-bubble: #549be2;
  --light-blue: #589bff;
}

body {
  background-color: var(--bg-color);
  color: var(--default-text-color);
}
